<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @tarea.title %>
</p>

<p>
  <strong>Image:</strong><br>
  <%= image_tag @tarea.image %>
</p>

<%#= link_to 'Edit', edit_tarea_path(@tarea) %> 
<%= link_to 'Back', tareas_path %>
